/* Global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  transition: 0.8s;
}

i,
svg {
  pointer-events: none;
}

/* Sequencer style */
.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 7rem;
  height: 7rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.kick-pad {
  background-color: #82bbed;
}

.snare-pad {
  background-color: #f09fc2;
}

.hihat-pad {
  background-color: #fcda7e;
}

.kick-pad.active {
  background-color: #0a70c9;
}

.snare-pad.active {
  background-color: #f21e7a;
}

.hihat-pad.active {
  background-color: #fdba00;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1.5rem;
  border: none;
  background-color: rgb(100, 100, 100);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 50%;
}

.controls h1 {
  font-size: 2.5rem;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: rgb(165, 165, 165);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
}

.mute.active {
  background-color: rgb(145, 145, 145);
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background-color: rgb(100, 100, 100);
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

/* Dark Mode */
label {
  position: absolute;
  width: 4.5rem;
  height: 2.2rem;
  right: 2rem;
  top: 2rem;
  border: 0.2rem solid;
  border-radius: 2rem;
  cursor: pointer;
}

label:before {
  position: absolute;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  left: 0.3rem;
  top: 0.1rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: black;
  transition: 0.8s;
}

label.active:before {
  left: 2rem;
  background-color: white;
}

.night {
  background-color: black;
  color: white;
  transition: 0.8s;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}
